<launch>


<node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager"
output="screen" />

<!-- Run a StatisticalOutlierRemoval filter -->
<node pkg="nodelet" type="nodelet" name="outlier_removal" args="load
pcl/StatisticalOutlierRemoval pcl_manager" output="screen">
<remap from="~input" to="/kinect2/sd/points" />
<remap from="~input" to="/kinect2/sd/filtered_points" />
<rosparam>
       mean_k: 50
       stddev: 1.0
       negative: False
</rosparam>
</node>

</launch> 


