<launch>

  <include file="$(find iqoomba_perception)/launch/box_filter.launch" >  </include>
  <node pkg="iqoomba_perception" type="ransac.py" name="ransac" output="screen"></node>
  <node pkg="iqoomba_perception" type="segmentation_local.py" name="segmentation" output="screen"></node>


</launch>
